.detail{
    padding-top: 8%;

    h3{

        font-weight: 400;
       font-size:  22px;
       font-style:  normal;
       color: rgb(27, 116, 94);
       line-height: 33px;
       text-decoration: none;
       transform: none;
       font-family: Quicksand;
       letter-spacing: 0;
        
    }
    p{
        font-weight: 400;
        font-size:  18p x;
        font-style: normal;
        color: rgb(27, 116, 94);
        line-height: 27px;
        text-decoration: none;
        transform: none;
        font-family:  "Crimson Text";
        letter-spacing: 0;
    }

}