.girls{
    display: flex;
    
    justify-content: space-evenly;
    margin-top: 56px;
    .girl{
        width: 18%;
        .name{
            h3{
                font-weight: 400;
                font-size: 22px;
                font-style:  normal;
                color: rgb(12, 91, 71);
                line-height: 33px;
                text-decoration: none;
                transform: none;
                font-family:  Quicksand;
                letter-spacing: 0;
            }
            p{
                font-weight: 400;
                font-size:  16px;
                font-style:  italic;
                color: rgb(51, 136, 115);
                line-height: 24px;
                text-decoration: none;
                transform: none;
                font-family:  Quicksand;
                letter-spacing: 0;
            }

        }
    }
}
@media screen and (max-width:500px) {
    .girls{
        
    display: flex;
    flex-direction: column;
    margin-left: 10%;

    }
    
}